# Drawing Conclusions Quiz
Use the space below to explore `store_data.csv` to answer the quiz questions below.

In [47]:
# imports and load data
import pandas as pd

df = pd.read_csv('store_data.csv')

In [48]:
# explore data
df.head()

         week  storeA  storeB  storeC  storeD  storeE
0  2014-05-04    2643    8257    3893    6231    1294
1  2014-05-11    6444    5736    5634    7092    2907
2  2014-05-18    9646    2552    4253    5447    4736
3  2014-05-25    5960   10740    8264    6063     949
4  2014-06-01    7412    7374    3208    3985    3023

In [49]:
df.shape

(200, 6)

In [50]:
df.dtypes

week      object
storeA     int64
storeB     int64
storeC     int64
storeD     int64
storeE     int64
dtype: object

In [51]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 6 columns):
week      200 non-null object
storeA    200 non-null int64
storeB    200 non-null int64
storeC    200 non-null int64
storeD    200 non-null int64
storeE    200 non-null int64
dtypes: int64(5), object(1)
memory usage: 9.5+ KB

In [52]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
storeA,200.0,5865.480,2958.230318,137.0,3812.25,5713.5,7662.25,14403.0
storeB,200.0,6756.710,3601.339489,14.0,3884.50,6771.0,9350.50,15841.0
storeC,200.0,4942.105,1325.407768,927.0,4053.50,4962.5,5801.75,8293.0
storeD,200.0,5431.405,1183.111323,2276.0,4717.00,5382.0,6243.75,8190.0
storeE,200.0,2580.025,1725.651381,39.0,1235.00,2522.0,3574.25,7553.0

In [53]:
# trasform the 'week' variable to datetime
df['week'] = pd.to_datetime(df['week'])
df.tail()

          week  storeA  storeB  storeC  storeD  storeE
195 2018-01-28     282    6351    7759    5558    1028
196 2018-02-04    4853    6503    4187    5956    1458
197 2018-02-11    9202    3677    4540    6186     243
198 2018-02-18    3512    7511    4151    5596    3501
199 2018-02-25    7560    6904    3569    5045    2585

In [54]:
# total sales for the last month
mask = (df['week']>='2018-02-04') & (df['week']<='2018-02-25')
df.loc[mask].sum()

storeA    25127
storeB    24595
storeC    16447
storeD    22783
storeE     7787
dtype: int64

In [55]:
# average sales
df.mean()

storeA    5865.480
storeB    6756.710
storeC    4942.105
storeD    5431.405
storeE    2580.025
dtype: float64

In [57]:
# sales on march 13, 2016
mask = df.week == '2016-03-13'
df.loc[mask]

         week  storeA  storeB  storeC  storeD  storeE
97 2016-03-13    2054    1390    5112    5513    2536

In [64]:
# worst week for store C
mask = df.storeC == df.storeC.min()
df.loc[mask]

        week  storeA  storeB  storeC  storeD  storeE
9 2014-07-06    8567    3228     927    3277     168

In [68]:
# total sales during most recent 3 month period
mask  = df.week > '2017-12-01'
df.loc[mask].sum()

storeA    87591
storeB    79394
storeC    66538
storeD    75190
storeE    27334
dtype: int64